doctype html
html
  head
    title= title
    meta(charset="utf-8")
    link(rel="stylesheet" href=`${config.assetPath}css/timetable_styles.css`)
    if config.outputFormat === 'pdf'
      link(rel="stylesheet" href=`${config.assetPath}css/timetable_pdf_styles.css`)
    meta(name="viewport" content="initial-scale=1.0, width=device-width")

    script(src="https://cdn.tailwindcss.com")

    block extraHeader

  body
    block content
