extends layout
block content
  include overview.pug

block extraHeader
  if config.showMap
    script(src="https://unpkg.com/jquery@3.6.0/dist/jquery.min.js" crossorigin="anonymous")
    script(src="https://unpkg.com/lodash@4.17.21/lodash.min.js" crossorigin="anonymous")
    script(src="https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.js")
    script.
      mapboxgl.accessToken = '#{config.mapboxAccessToken}';
    script(src=`${config.assetPath}js/system-map.js`)

    link(href="https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.css" rel="stylesheet")
