extends layout
block content
  include overview.pug

block extraHeader
  if config.showMap
    script(src="https://unpkg.com/jquery@3.7.1/dist/jquery.min.js" crossorigin="anonymous")
    script(src="https://unpkg.com/lodash@4.17.21/lodash.min.js" crossorigin="anonymous")
    script(src="https://unpkg.com/maplibre-gl@^5.7.0/dist/maplibre-gl.js")
    script(src="https://unpkg.com/@maplibre/maplibre-gl-geocoder@1.9.0/dist/maplibre-gl-geocoder.js")
    script(src=`${config.assetPath}js/system-map.js`)

    link(href="https://unpkg.com/maplibre-gl@^5.7.0/dist/maplibre-gl.css" rel="stylesheet")
    link(href="https://unpkg.com/@maplibre/maplibre-gl-geocoder@1.9.0/dist/maplibre-gl-geocoder.css" rel="stylesheet")

  link(rel="stylesheet" href=`${config.assetPath}css/overview_styles.css`)
