extends layout
block content
  include timetablepage.pug

block extraHeader
  script(src="https://unpkg.com/jquery@3.6.0/dist/jquery.min.js" crossorigin="anonymous")

  if config.menuType === 'radio'
    script(src=`${config.assetPath}js/timetable-menu.js`)

  if config.showMap
    script(src="https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.js")
    script.
      mapboxgl.accessToken = '#{config.mapboxAccessToken}';
    script(src=`${config.assetPath}js/timetable-map.js`)

    link(href="https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.css" rel="stylesheet")

