- const routeColorCss = trip.continues_from_route ? getRouteColorsAsCss(trip.continues_from_route.route) : ''
td.run-footer(style=routeColorCss)
  if trip.continues_from_route
    if trip.continues_from_route.route.route_url
      a.continues-from-route(href=trip.continues_from_route.route.route_url style=routeColorCss data-trip-id=trip.continues_from_route.trip_id)= trip.continues_from_route.route.route_short_name
    else
      .continues-from-route(data-trip-id=trip.continues_from_route.trip_id)= trip.continues_from_route.route.route_short_name
