.map-container
  .map(id=`map_timetable_id_${formatHtmlId(timetable.timetable_id)}`)
  .map-legend
    .legend-item
      .legend-icon
        .stop-marker
      .legend-text 
        <b>Stops</b>
    .legend-item.vehicle-legend-item(style="display: none;")
      .legend-icon
        .vehicle-marker
          .vehicle-marker-arrow
      .legend-text
        <b>Current Vehicle Locations</b><br />
        <small>Hover or tap to see arrival times.</small>