if !options || !options.nohead
  doctype html
  html
    head
      title= title
      link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")

      style
        include ../public/stylesheets/style.css
    body
      block content
else
  block content
