if !options || !options.nohead
  doctype html
  html
    head
      title= title
      link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
      link(rel="stylesheet" href="/timetable_styles.css")
        
      block extraHead

    body
      block content
else
  block content
