extends layout
block content
  include timetablepage.pug

block extraHead
  if options.showMap
    script(src="https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.js")
    link(href="https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.css" rel="stylesheet")
