body {
  -webkit-print-color-adjust: exact;
  width: 100%;
  margin: 0 auto;
  font-size: 0.8rem;
}

h1,
h2,
h3,
h4,
h5,
p {
  page-break-inside: avoid;
  orphans: 3;
  widows: 3;
}

img,
table {
  max-width: 100%;
}

.timetable-page .timetable:not(:first-of-type) {
  page-break-before: always;
}

.timetable-page .timetable .table-container {
  overflow: auto;
  margin-bottom: 0;
}

.timetable-page .timetable table > thead > tr > th,
.timetable-page .timetable table > tbody > tr > th,
.timetable-page .timetable table > tfoot > tr > th {
  padding: 3px 5px;
}

.timetable-page .timetable table > thead > tr > td,
.timetable-page .timetable table > tbody > tr > td,
.timetable-page .timetable table > tfoot > tr > td {
  padding: 1px 5px;
  line-height: 1;
}

.timetable .table-container {
  overflow: hidden;
}
.timetable table {
  page-break-after: auto;
}
.timetable tr {
  page-break-inside: avoid;
  page-break-after: auto;
}
.timetable td {
  page-break-inside: avoid;
  page-break-after: auto;
}
.timetable thead {
  display: table-header-group;
}
.timetable tfoot {
  display: table-footer-group;
}

.timetable-page .map-legend {
  display: none;
}
