doctype html
html
  head
    title= title
    meta(charset="utf-8")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    link(rel="stylesheet" href=`${config.assetPath}css/timetable_styles.css`)
    meta(name="viewport" content="initial-scale=1.0, width=device-width")

    block extraHeader

  body
    .container-fluid
      block content
