doctype html
html
  head
    title= title
    meta(charset="utf-8")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous")
    link(rel="stylesheet" href=`${config.assetPath}css/timetable_styles.css`)
    if config.outputFormat === 'pdf'
      link(rel="stylesheet" href=`${config.assetPath}css/timetable_pdf_styles.css`)
    meta(name="viewport" content="initial-scale=1.0, width=device-width")

    block extraHeader

  body
    block content
