extends layout
block content
  include overview.pug

block extraHeader
  script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")

  if config.showMap
    include map_footer.pug
