extends layout
block content
  include timetablepage.pug

block extraHeader
  script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")

  if config.menuType === 'radio'
    script(src=`${config.assetPath}js/timetable-menu.js`)

  if config.showMap
    include map_footer.pug
