extends layout
block content
  include timetablepage.pug

block extraHeader
  script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous")

  if config.menuType === 'radio'
    script(src=`${config.assetPath}js/timetable-menu.js`)

  if config.showMap
    include map_footer.pug
