extends layout.pug

block content
  .content
    h1 Agencies

    if !agencies || !agencies.length
      .well No agencies found
    else
      ul.list-group
        each agency in agencies
          li.list-group-item
            a.list-group-item(href=`/timetablepages?agency_key=${agency.agency_key}`)= agency.agency_name
