extends layout.pug

block content
  .row
    .col-md-12
      h1 Agencies
  .row
    if !agencies || !agencies.length
      .col-md-6.col-md-offset-3
        .well No agencies found
    else
      .col-md-12
        ul.list-group
          each agency in agencies
            li.list-group-item
              a.list-group-item(href=`/timetable/${agency.agency_key}`)= agency.agency_name
