extends layout

block content
  .row
    .col-md-12
      h1 Timetables
  .row
    if !timetablePages || !timetablePages.length
      .col-md-6.col-md-offset-3
        .well No timetables found
    else
      .col-md-12
        ul.list-group
          each timetablePage in timetablePages
            li.list-group-item
              a.btn.btn-default.btn-sm(href=`/timetable/${agencyKey}/${timetablePage.timetable_page_id}`)= timetablePage.timetable_page_label
